body {
  background: #202024;
  > main {
    > #container {
      // centralizando div
      position: absolute;
      left: 50%;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      
      > h1 {
        color: #00875F;
        font-family: "Permanent Marker", cursive;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
      }
      > img {
        max-width: 100%;
      } 
    }
  }
}